{% extends "base.html" %}
{% block content %}
    <div class="container mt-4">
        <h1>Admin Page</h1>


        <form method="POST" class="form-inline mt-3 mb-3">
            {{ search_form.hidden_tag() }}
            {{ search_form.search_query(class="form-control mr-sm-2", placeholder="Search Users by ID", value=searched_text) }}
            {{ search_form.submit(class="btn btn-outline-primary my-2 my-sm-0") }}
        </form>

        <table class="table table-bordered text-center">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Is Admin</th>
                <th>Toggle Admin</th>
                <th>Delete User</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ 'Yes' if user.is_admin else 'No' }}</td>
                    <td>
                        <form method="post" action="{{ url_for('change_role', user_id=user.id) }}">
                            {{ form.csrf_token }}
                            <button type="submit" class="btn btn-info btn-sm">Toggle Admin</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" action="{{ url_for('delete_user', user_id=user.id) }}">
                            {{ form.csrf_token }}
                            <button type="submit" class="btn btn-danger btn-sm">Delete User</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}
