{% extends "base.html" %}
{% block content %}
    <h1>Search User</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.search_term(class="form-control form-control-lg",placeholder="Search User by username") }}
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>

    <h1>Search Results</h1>
    <ul>
        {% for user in users %}
            <li>
                <a href="{{ url_for('user_profile', username=user.username) }}">
                    {{ user.username }}
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}